<div class="invitation-container">
  <div class="invitation-card">
    <h1>Welcome to ManageNest!</h1>
    <p class="invitation-message">You have been invited to join the application.</p>
    <p class="user-id">Invitation for User ID: <strong>{{ userId }}</strong></p>

    <div class="button-group">
      <button class="accept-button" (click)="acceptInvitation()">Accept Invitation</button>
      <button class="reject-button" (click)="rejectInvitation()">Reject Invitation</button>
    </div>
  </div>
</div>